* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

body {
    background-color: #fefefe;
}

/* Slider Image size */

.carousel-item img {
    width: 100%;
}

/* General styling */
.arabic-header {
    position: relative;
    font-weight: 700;

}

.arabic-header::after {
    content: "";
    bottom: 0;
    top: 15px;
    right: 0;
    position: absolute;
    height: 5px;
    width: 50px;
    color: tomato;
}

.card img {
    width: 100%;
}

.card {
    margin: 20px 0px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-body {
    background-color: #fbfafa;
}

.card-title {
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-text {
    line-height: 2;
}

/* Start about section */

.about-company {
    line-height: 2;
    font-size: 16px;
}

.contact-info {
    height: 300px;
    text-align: center;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.call-now {
    position: relative;
    width: 300px;
    padding: 15px 20px;
    border: 1px solid #AD8B73;
    border-radius: 30px;
    transition: .2s ease-in-out;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.call-now::before {
    position: absolute;
    content: "<";
    visibility: hidden;
    transition: .2s ease-in-out;
}


.call-now:hover {
    background-color: #AD8B73;
    color: white;
}

.call-now:hover::before {
    visibility: visible;
    transform: translate(20px);
}

.section {
    margin: 20px 0px;
    padding: 30px 0px;
}

.about-company {
    background-color: #E3CAA5;
}

.contact {
    background-color: #eeee;
}

footer {
    background-color: #333;
}

footer .row {
    padding: 20px 0px;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
}

.call-btn {
    padding: 10px 12px;
    border: 1px solid #AD8B73;
    transition: .3s ease-in-out;
}

.call-btn:hover {
    background-color: #AD8B73;
    border-color: #AD8B73;
}

.call-btn img {
    width: 24px;
}